<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizelg="4" sizeMg="4" sizeXs="6">
        <div class="texto">Texto 1</div>
      </ion-col>
      <ion-col sizelg="4" sizeMg="4" sizeXs="6">
        <div class="texto">Texto 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizelg="4" sizeMg="4" sizeXs="9">
        <div class="texto">Texto 3</div>
      </ion-col>
      <ion-col sizelg="4" sizeMg="4" sizeXs="3">
        <div class="texto">Texto 4</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
