ion-toolbar{
  background-color: var(--ion-color-mycolor);
  color:whitesmoke;
}
ion-title{
  text-align: center;
}

.btn{
  background-color: var(--ion-color-mycolor);
  color:whitesmoke;
  padding: 20px 30px 20px 30px;
  border-radius: 15%;
  border: 1px solid black;
  font-size: 1rem;
  position: relative;
}

#contenedor{
  text-align: center;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) translateX(0%);
}

.colorBlue{
  color: var(--ion-color-mycolor);
}
